# 3D electromagnetic ADI-FDTD modelling default configuration file

# Modelling parameters
lpml = "10"; # Size of pml absorbing boundary (should be larger than order + 5 )
source_type = "3"; # Source type: 0=EX 1=EY 2=EZ 3=HX 4=HY 5=HZ
snapinc = "10"; # Snap interval in multiples of modelling interval
dtrec = "4e-3"; # Recording interval in seconds
apertx = "60.0"; # Aperture for local model in x
aperty = "10.0"; # Aperture for local model in y
usepml = "true"; # Use PML for absorbing boundary conditions
f0 = "2000.0";
pml_kmax = "11"; # PML Kmax parameter
pml_smax = "893530.169847789"; # PML Smax parameter
pml_amax = "37699.1118430775"; # PML Amax parameter

# Booleans
Exrecord = "false"; # Set these to false if recording or snapshoting is to be made.
Eyrecord = "false";
Ezrecord = "false";
Hxrecord = "true";
Hyrecord = "false";
Hzrecord = "true";
Exsnap = "false";
Eysnap = "false";
Ezsnap = "false";
Hxsnap = "false";
Hysnap = "false";
Hzsnap = "false";

# Input files
Sg = "sg.rss";
Ep = "ep.rss";
A = "an.rss";
Wavelet = "wav3d.rss";
Survey = "Survey.rss";

# Output files
Exrecordfile = "Data/Exshot.rss";
Eyrecordfile = "Data/Eyshot.rss";
Ezrecordfile = "Data/Ezshot.rss";
Hxrecordfile = "Data/Hxshot.rss";
Hyrecordfile = "Data/Hyshot.rss";
Hzrecordfile = "Data/Hzshot.rss";
Exsnapfile = "Snaps/Exsnaps.rss";
Eysnapfile = "Snaps/Eysnaps.rss";
Ezsnapfile = "Snaps/Ezsnaps.rss";
Hxsnapfile = "Snaps/Hxsnaps.rss";
Hysnapfile = "Snaps/Hysnaps.rss";
Hzsnapfile = "Snaps/Hzsnaps.rss";
